
<div>
  <h3> Search for a Product: </h3>
<form method="GET" action="/" >
  <input type="text" id="q" name="query" <%= @q %> >
  <button type="submit" value="Send"> Search </button>
</form>
     
</div>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Nombre</th>
      <th>Price</th>
      <th>Description</th>
      <th>Stock</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="products">
  <%= render @products %>
  </tbody>
</table>

<br>

<%= paginate @products %>
<%= link_to 'New Product', new_product_path %>

<script>
  
  $('#q').keyup(function(event) {

    $.ajax({
      url: '/',
      type: 'GET' ,
      dataType: 'script',
      data: {query: $(this).val()},
    });    

  });

</script>
